.modes {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.modes2 {
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.message {
    background: #181818;
    color: #FFF;
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    padding: 20px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;

}